
.dashboard{
padding:2rem;
}
.recipe-content {
    display: flex;
    flex-direction: column;

    button{
        background-color:#faf8f2 ;
        color:#0D382E
    }
    .recipe-detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:5rem;
        min-width:auto;
    }

    .card-color-green {
        padding:0 1rem;
        background-color: #0D382E;
        color: white;
        border-radius: 5px;

        h2, h4, p{
            color:white
        }
    }

    .card-color-blue {
        padding:0 1rem;
        background-color: #A3C5C9;
        border-radius: 5px;
    }

    .card-color-yellow {
        padding:0 1rem;
        background-color: #D7A35B;
        border-radius: 5px;
    }
    .update-recipe-button{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
.button-add-recipe{
    display: flex;
    justify-content: center;
    margin:1rem;
    button{
        background-color: #A3C5C9;
    }
}
button{
    border-radius: 25px;
    font-family: Rubik;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 15px;
    border: 0; 
}