<section class="dashboard">
<h2>Dashboard</h2>
<h3>Recettes </h3>
<article class="recipe-content">
    <div class="recipe-detail" *ngFor="let recipe of Recipes; let i =index" [ngClass]="getCardColorClass(i)">
        <h5>{{recipe.name}} - {{recipe.country}}</h5>
        <button aria-label="modifier la recette" class="update-recipe-button" (click)="goToUpdateRecipe(recipe._id)" >
        <mat-icon  aria-label="modifier la recette" fontIcon="visibility"
            class="button-open-recipe"></mat-icon>modifier
        </button>
    </div>
</article>
<article class="button-add-recipe">
<button aria-label="ajouter une recette"routerLinkActive="active" routerLink="/create-recipe" class="button-nav-recipe-create">+
    recette</button>
</article>
<h3>Utilisateurs</h3>
<div *ngFor="let user of Users; let i =index">
    <p>{{user.email}}</p>
</div>
</section>