<h1>Bienvenue</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <section class="register-form">
        <label for="email">Adresse mail</label>
        <input type="email" formControlName="email" required />
        <label for="password">Mot de passe</label>
        <input type="password" formControlName="password" required />
        <article class="validation-register-button">
            <button class="button-ok" type="submit" [disabled]="!registerForm.valid">OK!</button>
        </article>
    </section>
</form>