@import '../../../assets/mixin/mixins.scss';

nav {
    @include flexDirectionJustifyAlign(row, center, center);
    gap: 1rem;

    .home a,
    .recipes a,
    .account a {
        @include mobile {
            font-size: 0;
        }

        @include tablet {
            font-size: initial;
        }

        @include desktop {
            font-size: initial;
        }

        @include flexDirectionJustifyAlign(row, center, center)
    }
}