.navigation{
    display: flex;
    justify-content: center;
    gap: 2rem;
    a{
        color:black;
        padding-top:10px;
        border-top: 4px solid transparent;
        transition: border-top-color 0.3 ease ;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    a:hover, a:active{
        border-top-color: #0D382E;
    }
}