<button routerLinkActive="active" routerLink="/create-recipe">+ recette</button>
<button routerLinkActive="active" routerLink="/recipes">recettes</button>
<button routerLinkActive="active" routerLink="/register">register</button>
<button routerLinkActive="active" routerLink="/login">Login</button>
<button routerLinkActive="active" routerLink="/update-recipe">modify recettes</button>
<button routerLinkActive="active" routerLink="/update-user">User</button>
<button routerLinkActive="active" routerLink="/myaccount">Mon profil</button>
<button routerLinkActive="active" routerLink="/dashboard">Dashboard</button>
