@import '../../../assets/mixin/mixins.scss';

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
        margin: 1rem;
        max-width: 250px;
    }

    .navigation-container {
        display: none;

        @include tablet {
            display: flex;
            padding: 0.5rem;
        }

        @include desktop {
            display: flex;
            padding: 1rem;
        }
    }
}