<section class="recipe-content">
    <h2>Liste de recettes</h2>
<div *ngFor="let recipe of Recipes; let i =index" [ngClass]="getCardColorClass(i)">
    <h2>{{recipe.name}}</h2>
    <h4>{{recipe.country}}</h4>
    <div *ngFor="let time of recipe.time; let i =index">
        <h5>Temps de Prépation : {{time.cooking_time}} {{time.cooking_time_unit}}</h5>
        <h5>Temps de Cuisson: {{time.baking_time}} {{time.baking_time_unit}}</h5>
    </div>

    <p>{{recipe.diet}}</p>
    <div *ngFor="let diet of recipe.diets; let i = index">
        <p>{{diet.value}}</p>
    </div>
    <section class="ingredients section">
        <div  *ngFor="let ingredient of recipe.ingredients; let i = index">
                <p>{{ingredient.name}}</p>
        </div>
    </section>
    <button (click)="goToRecipe(recipe._id)">voir</button>
</div>
</section>