.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;

    h2{

        justify-content: center;
        text-align: center;
        display: flex;
        margin-bottom: 5rem;
    }

    .world-button {
        justify-content: center;
        width: 15rem;
        height: 15rem;
        border-radius: 10rem;
        background-color: #0D382E;
        color: #D7A35B;
        margin-bottom: 5rem;
    }

    .card-recipe {
        background-color: #0D382E;
        border-radius: 15px;
        padding: 2rem;
        margin: 3rem;

        p,
        h5,
        h6 {
            color: white
        }

        h5 {
            text-transform: uppercase;
        }

        h6 {
            margin-right: 1rem;
        }

        .inline {
            display: flex;
            max-height: 50px;
            align-items: center;

        }

        .button-recipe {
            background-color: #D7A35B;
            color: #0D382E;
            padding: 0.5rem;
            margin-right: 0.5rem;
        }
        .button-recipe-nop{
            padding: 0.5rem;
            margin-right: 0.5rem;
            background-color: #963903;
            color: #FFFFFF;
        }

        .recipe-content {
            display: flex;
            justify-content: space-between;
        }

        .button-play-go-content {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-radius: 8px;
            padding: 14px 24px 16px;

        }
    }
}