
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$yumami-primary: mat.define-palette(mat.$indigo-palette);
$yumami-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$yumami-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$yumami-theme: mat.define-light-theme((
  color: (
    primary: $yumami-primary,
    accent: $yumami-accent,
    warn: $yumami-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($yumami-theme);

//FONT 
@font-face {
    font-family: 'Rubik';
    src:url(./assets/font/Rubik/Rubik-VariableFont_wght.ttf) format(truetype),
        url(./assets/font/Rubik/Rubik-Italic-VariableFont_wght.ttf) format(truetype);
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./assets/font/Montserrat/Montserrat-VariableFont_wght.ttf) format(truetype),
        url(./assets/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format(truetype);
}
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1{
    font-family: 'Rubik';
    font-weight: 900 ;
    font-size: 3.6rem;
    color:rgb(30, 29, 29);
    text-transform: uppercase;
    text-align: center;
}

h2{
    font-family: 'Rubik';
    font-weight: 700 ;
    color:#0D382E;
    font-size: 2.4rem;
}

h3{
    font-family: 'Montserrat';
    font-weight: 600 ;
    font-size: 2rem;
    color:rgb(30, 29, 29);
    text-transform: uppercase;
}

h4{
    font-family: 'Rubik';
    font-weight: 300 ;
    font-size: 1.8rem;
    color:rgb(30, 29, 29);
    text-transform: uppercase;

}

h5{
    font-family: 'Rubik';
    font-weight: 700 ;
    font-size: 1.8rem;

}

h6{
    font-family: 'Montserrat';
    font-weight: 500 ;
    font-size: 1.6rem;
    color:rgb(30, 29, 29);
    text-transform: uppercase;

}

p{
    font-family: 'Montserrat';
    font-weight: 500 ;
    font-size:  1.5rem;
    color:rgb(30, 29, 29);

}
label{
    font-family: 'Montserrat';
    font-weight: 800 ;
    font-size: 1.8rem;
    color:rgb(30, 29, 29);
}
option{
    font-family: 'Montserrat';
    font-weight:400 ;
    font-size: 1.4rem;
    color:rgb(30, 29, 29);
}

select{
    font-family: 'Montserrat';
    font-weight:600 ;
    font-size: 1.4rem;
    color:rgb(30, 29, 29);
}
a{
    font-family: Rubik;
    font-size: 1.6;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: black;
    
}

button{
    border-radius: 5px;
    font-family: Rubik;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
}

html, body { 
    min-height: 100%;
    font-size: 62.5%
}
body { 
    background-color: #faf8f2;
    font-size: 1.6rem;
    margin: 1rem; 
    margin-top:6rem;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
